.cards__list {
  list-style: none;
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, 282px); */
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  /* max-width: (100%/4); */
}

@media screen and (min-width: 1219px) {
  .cards__list {
    max-width: 880px;
    margin: auto;
  }
}
