.header {
  border-bottom: solid rgba(84, 84, 84, 0.7) 1px;
  max-width: 880px;
  /* align-self: center; */
  width: 100%;
  margin: auto;
  padding: 45px 0 41px 0;
  /* grid-template-columns: repeat(auto-fit, 282px); nothing happens when I uncomment this so I don't need it */
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    padding: 28px 0 32px 26px;
    margin: 0;
    width: auto;
  }
}

/* * {
  border: solid red 1px;
} */
