.image-viewer {
  list-style-type: none;
}

.image-viewer__image {
  width: 100%;
}

.image-viewer__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #ffff;
  margin-top: 10px;
  margin-bottom: 0;
}
