.image-viewer {
  list-style-type: none;
  background-color: transparent;
}

.image-viewer__image {
  width: 100%;
}

.image-viewer__title {
  /* font-family: inherit; */
  font-size: 12px;
  background-color: transparent;
  /* color: #ffff; */
  margin-bottom: 0;
}
