@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

.page {
  background-color: #000;
  color: #fff;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  /* margin-left: 200px;
    margin-right: 200px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
