.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  color: #000;
  padding: 0 36px;
  opacity: 0; /* set initial opacity to 0 */
  visibility: hidden; /* set initial visibility to hidden */
  pointer-events: none; /* can't interact with closed popup*/
  transition: opacity 0.5s linear; /* add transition for opacity without visibility */
}

.popup_opened {
  opacity: 1; /* set final opacity to 1 */
  visibility: visible; /* set final visibility to visible */
  pointer-events: all; /* can interact with opened popup */
  transition: opacity 0.5s linear; /* add transition for opacity */
}

.popup__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 430px;
}

.popup__container_image {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}

.popup__close {
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
  /* display: none; */
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 0;
  margin: 0 0 40px 0;
}

.popup__input {
  appearance: none;
  height: 60px;
  width: 100%;
  border-radius: 4px;
  padding: 0;
  outline: none;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.popup__button {
  background-color: #000;
  border: none;
  border-radius: 2px;
  width: 100%;
  margin-top: 48px;
  color: #fff;
  padding: 18px 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__button_disabled {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.popup__button:hover {
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, 0.8); */
  opacity: 0.6;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
  margin-bottom: 5px;
}

.popup__error_visible {
  /* padding-top: 18px; */
  color: red;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
}

@media screen and (max-width: 630px) {
  .popup {
    padding: 0 19px;
  }

  .popup__container {
    max-width: 282px;
    padding: 22px;
  }

  .popup__container_image {
    border-radius: 0;
    padding: 0;
  }

  .popup__close {
    width: 26px;
    height: 26px;
    position: absolute;
    left: calc(100% - 26px);
    bottom: calc(100% + 20px);
  }

  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px; /*60px;*/
  }

  .popup__input {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
