.profile {
  display: flex;
  align-items: center;
  /* padding-top: 40px; */
  margin: 36px auto 48px auto;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 18px;
}

.profile__edit-button {
  background: transparent url("../images/pencil-white.svg") center no-repeat;
  height: 24px;
  width: 24px;
  border: solid #fff 1px;
  grid-area: button;
  align-self: center;
  /* margin: 0; */
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url("../images/plus-white.svg") center no-repeat;
  width: 150px;
  height: 50px;
  border: solid #fff 2px;
  border-radius: 2px;
  /* margin: auto; */
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  /* max-width: ;  */
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  grid-area: title;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

/* @media screen and (max-width: ); */

@media screen and (max-width: 768px) {
  .profile {
    max-width: calc(100% - 20px);
    flex-direction: column;
    margin-bottom: 36px;
  }

  .page__section {
    /* margin: 0 20px; */
    max-width: calc(100% - 40px);
  }

  .profile__info {
    grid-template-columns: minmax(0, auto) minmax(0, auto);
    grid-gap: 14px 10px;
    margin-top: 27px;
  }

  .profile__add-button {
    margin: 0;
    /* width: 80%; */
    min-width: 282px;
    margin-top: 36px;
  }

  .profile__title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__image {
    margin: 0;
  }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
  /* Intent is to make the add button snap to the width of the columns of the in-between screen width */
  .profile__add-button {
    width: calc(100% - 9px);
    max-width: 581px;
  }
}
