@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/card.css");

@media screen and (max-width: 768px) {
  /* .header {
  } */

  .logo {
    width: 126px;
  }

  .profile {
    max-width: calc(100% - 20px);
    flex-direction: column;
  }

  .page__section {
    /* margin: 0 20px; */
    max-width: calc(100% - 40px);
  }

  .profile__info {
    grid-template-columns: minmax(0, auto) minmax(0, auto);
    grid-gap: 14px 10px;
    margin-top: 27px;
  }

  .profile__add-button {
    margin: 0;
    /* width: 80%; */
    min-width: 282px;
    margin-top: 36px;
  }

  .profile__title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__image {
    margin: 0;
  }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
  /* Intent is to make the add button snap to the width of the columns of the in-between screen width */
  .profile__add-button {
    width: calc(100% - 9px);
    max-width: 581px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .page__section {
    /* margin: 0 20px; */
    max-width: calc(100% - 40px);
  }
}
