@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/card.css");

.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: solid #545454 1px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  /* grid-gap: 9px 17px; */
}

.profile__edit-button {
  background: transparent url("../images/pencil-white.svg") center no-repeat;
  height: 24px;
  width: 24px;
  border: solid white 1px;
  grid-area: button;
  /* margin: 0; */
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__add-button {
  background: transparent url("../images/plus-white.svg") center no-repeat;
  width: 150px;
  height: 50px;
  border: solid white 1px;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.7;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.footer {
  background-color: #000;
}

.cards {
  /* margin: 0;
  background-color: pink; */
  /* margin: 0; */
}

.card {
  display: flex;
  flex-direction: column;
  /* border-radius: 10px; */
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__list {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card__description {
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 25px 30px 25px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__image {
  height: 282px;
  width: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__like-button {
  background: transparent url("../images/heart-black.svg") center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
}

.card__like-button:hover {
  opacity: 0.7;
}
